body{
    background-color: #000000;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer"
    ;
}