
body {
    background: linear-gradient(to right, rgb(69, 45, 81), rgb(48, 10, 45), rgb(69, 48, 78));
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
    padding: 0;
    width: 80%;

}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;

}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #000000;
    transition: right 0.5s ease-in-out;
}

body:target nav {
    right: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}


p {
    font-size: 16px;
    text-align: center;
    width: 90%;
    
    margin: 0 auto;
    color: aliceblue;
}

body .header-title {
    font-size: 1.25em;
    text-align: center;
    color: rgb(139, 99, 138);
    padding: 15px;
    width: 100%;
}