@media screen and (max-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #817090;
        padding: 20px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 1em;
        width: 100%;
    }

    .container img, 
    .container p {
        display: block;
        width: 100%;
        max-width: 400px;
        height: auto;
        text-align: center;
        margin: 0 auto;
        box-sizing: border-box;
    }

    p {
        font-size: 16px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
}