* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    gap: 1em;
}



.nav-links ul {
    list-style-type: none;
    background-color: #42123C;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: 2px solid white;
    text-align: center;
}

.nav-links a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

.nav-links a:hover {
    background-color: #1f071c;
}

.nav-links li {
    float: left;
    margin: 0 3em;
}

nav {
    display: block;
    margin-top: -4em;
    width: 100%;
    padding-top: 4.5em;
    margin-left: 0em;
    margin-right: 80em;
    z-index: 200;
    position: absolute;
}
main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2em;
        padding: 40px;
}


aside {
    background-color: lightgreen;
    padding: 1em;
    border: 2px solid white;
}

/* .div-title {
    background-color: rgb(38, 25, 44);
    height: 5em;
    width: 100%;
    position: fixed;
    text-align: center;
    font-size: 2em;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-shadow: 3px 4px 6px #42123C;
    border: 2px solid white;
    font-style: italic;
    line-height: 5em;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    z-index: 300;
}

.div-title:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
} */


.para1 {
    color: rgb(0, 0, 0);
    background-color: #877994;
    padding: 1em;
    font-size: 20px;
    border: 6px solid rgb(67, 40, 63);
    grid-column: span 2;
    margin-left: 15em;
    white-space: normal;
    max-width: 55em;
    word-wrap: break-word;
    margin-top: -17em;
    
}

.para2 {
    color: rgb(0, 0, 0);
    background-color: #877994;
    padding: 1em;
    font-size: 20px;
    border: 6px solid rgb(67, 40, 63);
    grid-column: span 2;
    margin-left: 15em;
    white-space: normal;
    max-width: 55em;
    word-wrap: break-word;
    margin-top: 0em;
    
}

.para3 {
    grid-column: 1 / -1; 
    margin-left: 55em;
    margin-right: auto;
    margin-top: 30em; 
    max-width: 25em;
    color: rgb(0, 0, 0);
    background-color: #877994;
    padding: 1em;
    font-size: 20px;
    border: 6px solid rgb(67, 40, 63);
    position: absolute;
}



.image3{
    margin-top: 40em;
    margin-left: 0em;
    position: absolute;
}





.image4 {
    position: absolute;
    top: 50em; 
    left: 40em;
    z-index: 100; 
}


.image2{
    position: absolute;
    margin-top: 0em;
    margin-left: 70em;

}

.image5{
    position: absolute;
    margin-left: 88em;
    margin-top: 65em;
}

.image6{
    position: absolute;
    margin-top: 42em;
    margin-left: 88em;
}