* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: rgb(33, 10, 35);
    border: 2px solid white;
}


.pw {
    margin: 0;
    padding: 0;
    text-align: left;
}

.nav-links ul {
    list-style-type: none;
    background-color: #42123C;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: 2px solid white;
    text-align: center;
}

.nav-links a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.nav-links a:hover {
    background-color: #1f071c;
}

.nav-links li {
    float: left;
    margin: 0 3em;

}

nav {
    display: block;
    margin-top: 4.5em;
    padding-top: 4.5em;

}


.div1 {
    background-color: rgb(33, 10, 35);
    color: white;
    padding-top: 60em;
    border: 2px solid white;

}

aside {
    background-color: lightgreen;
}

.header-title {
    line-height: 5em;
    font-style: italic;
    margin: 0;
    line-height: 5em;
    text-align: center;
    font-family: 'Gambetta', serif;
    color: black;
    padding-bottom: 2em;
    margin-top: -0.5em;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    text-shadow: 3px 4px 6px #42123C;
    border: 2px solid white;

}

.header-title:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}

.header-title {
    background-color: rgb(38, 25, 44);
    height: 5em;
    width: 100%;
    position: fixed;
    text-align: center;
    font-size: 2em;
    padding: 0;
    box-sizing: border-box;
}

.kmsembed {
    margin-top: -40em;
    margin-left: 21.16em;
    position: absolute;
    
}

.videolink{
    color: rgb(255, 255, 255);
    margin-top: -5em;
    margin-left: 21.16em;
    position: absolute;
    font-size: 23px;
    background-color: rgb(157, 104, 190);
    width: fit-content;
    transition: background-color 0.3s ease;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 30px;
    border: 2px solid rgb(255, 255, 255);
    color: #1f071c;

}
